{% extends "genericSite.html" %}
{% load static %}

<!-- Page content-->
{%block body %}
    <h1 class="text-center mt-3"> Canadian Content Database </h1>
    <p> Welcome to the Canadian Artist Database! I created this site because I was struggling to find new Canadian artists for my radio show <a href="https://www.cfrc.ca/in_the_house">In The House</a> on CFRC at Queen's University in Kingston,
        and to help give smaller Canadian artists more recognition. If you're so inclined, you can find the source code on my GitHub <a href="https://github.com/ddrobner/cancondb">here</a>.
    </p>
    
    <h1 class="text-center mt-3"> Featured Artists </h1>
    <div class="text-center mt-3 mb-3">
        <a href="https://open.spotify.com/album/6GypnbKzxBWZZOIczTjvVd?si=cHV9pzxYRVOM3nEJiuWlYQ" target="_blank"> <img class='img-fluid' src={% static 'assets/time.jpg' %}> </a>
    </div>
    <p> The featured artist for this month is LNKED. Full disclosure, this is me. I've been producing for a while and it feels good to finally start releasing some music. I plan to rotate this section every few weeks once people start submitting some more artists </p>

{% endblock body %}