{% extends "genericSite.html" %}

{% block body%}

<h3 class="text-center mt3"> {{ artist_name }} </h3>
<div class="container list-group mt-3">
    {% for attribute_title, attribute_value in artist %}
        <div class="row">
            <div class="col">
                {{ attribute_title }}
            </div>
            <div class="col">
                {{ attribute_value|urlize }}
            </div>
        </div> 
    {% endfor %}
    <div class="row">
        <div class="col">
            Genres
        </div>
        <div class="col">
            {% for name, slug in genres %}
                {% if not forloop.last %}
                    <a href="/genres/{{ slug }}">{{ name }},</a>
                {% else %}
                    <a href="/genres/{{ slug }}">{{ name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock body %}